html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
.main-wrapper {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.main-container {
  width: 100%;
  height: 100%;
}
.background-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 2;
}
.tape-wrap {
  position: fixed;
  right: 0;
  top: 80%;
  -ms-transform: translateY(-80%);
  transform: translateY(-80%);
  z-index: 3;
}
.tape-img {
  width: 100%;
  animation: goleft 2s linear forwards 3s;
}
@keyframes goleft {
  100% {
    left: 0%;
  }
}
.page-wrapper {
  width: 100%;
  height: 100%;
}
.page-body {
  width: 100%;
  height: 100vh;
}
.footer-wrapper {
  position: absolute;
  height: 300px;
  width: 100%;
  bottom: -300px;
  background: #212124;
  text-align: center;
  z-index: 4;
  -webkit-transition: all .67s ease-in-out!important;
  transition: all .67s ease-in-out!important;
}
.subtitle-wrap {
  margin-top: 18px;
}
.subtitle {
  font-family: 'BrandonGrotesque-Regular';
}
.gyho-color {
  color: #fff !important;
}
.wpb-wrap {
  margin-top: 18px;
}
.footerCTA {
  font-family: 'BrandonGrotesque-Bold';
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1;
  display: inline-block;
  cursor: pointer;
  transition: all .5s ease;
}
.footerCTA:after {
  content: '';
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width .5s ease,background-color .5s ease;
}
.footerCTA:hover:after {
  width: 100%;
  background: #fff;
}
.footerCTA a {
  text-decoration: none;
}
.fa {
  font-family: 'uncodeicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.links-wrap {
  margin-top: 18px;
}
.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}
.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}
.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}
.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
.copyright-wrap {
  margin-top: 50px;
  font-size: 14px;
  font-weight: 100 !important;
  color: #525252;
}
#gotopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#gotopBtn:hover {
  background-color: #555;
}
@media (max-width: 1023px) {
  .tape-wrap {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .tape-wrap {
    width: 70%;
  }
}
@media screen and (max-width: 375px) and (min-height: 813px) {
  .home-wrap {
    background-size: cover;
  }
}